.top {
  padding: 0 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
  max-width: 103.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  height: 5rem;
  background-color: white;
  box-shadow: 0 0.2rem 1.4rem 0.2rem rgba(0, 0, 0, 0.102);
}

.tabClicked {
  padding: 1rem;
  height: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  border-bottom: 1px solid black;
  text-decoration: none;
}

.tab {
  border-radius: 1rem;
  cursor: pointer;
  padding: 1rem;
  height: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.tab:hover {
  background-color: #e2e2e2;
}

.layout {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 192rem;
  height: calc(100vh - 18rem);
  gap: 3rem;
}

.sideContainer {
  top: 13rem;
  width: 30rem;
  position: sticky;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 800px) {
  .sideContainer {
    display: none;
  }
}

.sideProfile {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 30rem;
  height: 20rem;
  min-height: 18rem;
  border-radius: 1rem;
  background-color: white;
}

.profileContainer {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.bottomContainer {
  color: black;
  border-radius: 1rem;
  font-size: 1.3rem;
}

.count {
  display: flex;
  justify-content: space-between;
}

.writeContainer {
  margin-top: 2rem;
  display: flex;
  width: 100%;
}

.writeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 5rem;
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: var(--button-enabled);
  border-radius: 1rem;
}

.writeBtn:hover {
  color: black;
  background-color: var(--button-hover);
}

.advertisement {
  margin-top: 2rem;
  width: 30rem;
}

.title {
  font-size: 1.1rem;
}

.sideBaner {
  border-radius: 1rem;
  margin-top: 1rem;
}

@media (max-height: 1080px) {
  .advertisement {
    display: none;
  }
}
